.chapters-title{
    color: #792196;
}

.chapter-cards-container {
    display: flex;
    justify-content: space-around; /* Adjust as needed for spacing */
  }

 .chapter-card {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  margin: 10px;
  padding: 15px;
  width: 300px; /* Increased width to accommodate all contents */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


.chapter-details {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.chapter-image {
    width: 300px;
  }
  
.chapter-logo {
    width: 100px;
    height: 100px;
    position: absolute;
    margin-top: 10px;
}

.chapter-text {
    margin-left: 120px; 
    text-align: left;
    line-height: 1;
  }

  .chapter-details h2 {
    font-size: 18px;
  }

  .chapter-details p {
    font-size: 11px;
  }

.chapter-heads {
    margin-top: auto;
    text-align: left;
    line-height: 0.5;
  }


