.execom {
    padding: 20px;
}
.execom-full{
    padding-top: 80px;
}

.section-heading {
    text-align: center;
    margin-bottom: 20px;
}

.execom-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 100px;
}

.execom-card-container {
    position: relative;
    display: flex;
    align-items: center;
}

.execom-card {
    width: 248px;
    height: 300px;
    background-color: #FFFFFF;
   /*  border: 1px solid #ccc; */
    border-radius: 0px;
    overflow: hidden;
    transition: transform 0.3s ease;
    cursor: pointer;
    position: relative;
    z-index: 4;
    box-shadow: -4px 0 20px #000000; 
}

.execom-card:hover {
    transform: scale(1.05);
}

.role {
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translateY(-50%) translateX(-50%) rotate(-90deg);
    /* background-color: #F7F7F7; 
    border: 1px solid #F7F7F7; */
    background-color: #CFE6EC; 
    border: 1px solid #CFE6EC;
    color: #000000;
    padding: 5px 5px;
    font-size: 1.5rem;
    font-family: 'Open Sans';
    font-weight: bold;
    z-index: 2; 
    border-radius: 50px;
    height: 247px;
    width: 250px;  
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
}

.role.fit {
    font-size: calc(1.5rem + (0.5rem * (18 - var(--char-length)) / 10));
    font-weight: bolder;
    padding: 10px 5px;
}

.image-container {
    width: 100%;
    height: 100%;
}

.profile-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 180%;
    object-fit: cover;
}

.overlay {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 0;
    overflow: hidden;
    transition: .5s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.execom-card:hover .overlay {
    height: 56px;
    transition: .5s ease;
}

.overlay::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(132, 132, 132, 0) 0%, rgba(132, 132, 132, 1) 80%);
    backdrop-filter: blur(4px);
    z-index: 0;
}


.text {
    text-align: center;
    font-family: 'Open Sans';
    font-weight: bold;
    color: #FFFFFF;
    z-index: 2; 
}
.text .pname{
    font-size: 1.25rem;
}
.text .pmail{
    font-size: 1rem;
}

.society-name {
    font-size: 2rem;
    margin-top: 40px;
    margin-bottom: 20px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: white;
}

/* @media (max-width: 768px) {
    .execom-card {
        width: 150px;
        height: 225px;
    }

    .role {
        left: 0;
        transform: translateY(-50%) translateX(-50%) rotate(-90deg);
        width: 100px; 
    }
} */

@media (max-width: 480px) {
    .execom-cards {
        flex-direction: column;
        align-items: center;
        padding-left: 10%;
    }
}
@media (max-width: 380px) {
    .execom-cards {
        padding-left: 15%;
    }
}
  @media screen and (max-width: 768px) {
    .society-name{
      font-size: 1.75rem;
    }
  }
  @media screen and (max-width: 500px) {
    .society-name{
      font-size: 1.5rem;
    }
  }

.see-more-container {
    text-align: center;
    margin-top: 20px;
}

.see-more-button,
.back-button {
    display: inline-block;
    margin: 20px;
    background: transparent; 
    color: white; 
    font-size: 25px;
    font-family: 'Open Sans';
    font-weight: bold;
    text-decoration: none;
    border-radius: 40px;
    border: 2px solid #CFE6EC; 
    transition: all 0.3s ease; 
}
.see-more-button{
    padding: 10px 25px;
}
.back-button{
    padding: 10px 50px;
}
.see-more-button:hover,
.back-button:hover {
    background-color: #CFE6EC;
    color: black;
}

.back-container {
    text-align: center;
    margin-top: 20px;
}