*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
::-webkit-scrollbar{
  width: 0;
}
.main{
  padding: 1dvh 5dvw;
}
body {
  font-family: 'Montserrat', sans-serif;
  background: linear-gradient(45deg, #172238,#1d2a46,#242f46,#020f25,#000b23,#223354,#141e32,#101727,#0d1421,#0b111c,#060a10);
}
@media screen and (max-width: 1024px) {
  .main{
    padding: 0.5dvh 2dvw;
  }
}
@media screen and (max-width: 768px) {
  .main{
    padding: 0.5dvh 1.5dvw;
  }
}
@media screen and (max-width: 500px) {
  .main{
    padding: 0.5dvh 1dvw;
  }
}
.main section{
  padding: 15px 0;
}
.section-heading{
  text-transform: uppercase;
  text-align: center;
  font-size: 2.25rem;
  font-weight: 700;
 /*  color: black; */
  color: white;
  padding-bottom: 15px;
  text-decoration: underline;
}
@media screen and (max-width: 1024px) {
  .section-heading{
    font-size: 2rem;
  }
}
@media screen and (max-width: 768px) {
  .section-heading{
    font-size: 1.75rem;
  }
}
@media screen and (max-width: 500px) {
  .section-heading{
    font-size: 1.5rem;
  }
}
