
.event-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.event-card{
    width: 230px;
    height: 440px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding: 5px;
    position: relative;
}
.event-image{
    position: absolute;
    left: 7.5px;
    top: 205px;
    z-index: -1;
    transition: all 0.5s ease-in-out;
}
.event-image img{
    width: 215px;
    height: 215px;
    object-fit: cover;
}
.event-content{
    width: 225px;
    height: 225px;
    background-color: #bdbdbd;
    padding: 10px;
    border-radius: 0 0 15px 15px;
}
.event-card:hover .event-image{
    top: 10px;
}
.event-content h4{
    text-align: center;
    font-size: 24px;
    font-weight: 500;
}
.event-content p{
    text-align: justify;
    font-size: 14px;
}
@media screen and (max-width: 769px) {
    .event-image{
        top: 0;
    }
}
@media screen and (max-width: 732px) {
    .event-card{
        width: 200px;
        height: 370px
    }
    /* .event-image{
        top: 170px;
    } */
    .event-image img{
        width: 185px;
        height: 185px;
    }
    .event-content{
        width: 190px;
        height: 190px;
        padding: 5px;
    }
    .event-content h4{
        font-size: 20px;
    }
    .event-content p{
        font-size: 10.5px;
    }  
}
@media screen and (max-width: 420px) {
    .event-card{
        width: 170px;
        height: 320px
    }
    /* .event-image{
        top: 170px;
    } */
    .event-image img{
        width: 155px;
        height: 155px;
    }
    .event-content{
        width: 160px;
        height: 170px;
    }
    .event-content h4{
        font-size: 18px;
    }
    .event-content p{
        font-size: 10px;
    }  
}